@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$open-sans: 'Open Sans', sans-serif;
$normal-weight:    200;
$bold-weight:    900;
$colour-green:#28d2bf;
$colour-grey:#e8f3f1;
$colour-red: #e26d5e;
$colour-black:#031e1b;
body{
    font-family: $open-sans;
    font-weight: $normal-weight;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
h1, h2, h3, h4, h5{
    font-weight: $bold-weight;
    text-align: center;
}
.background-colour-grey{
    margin-top: 10%;
    background-color: $colour-grey;
    border-bottom: 3px solid $colour-green;
}
#logo{
    width:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#section-form{
    padding-bottom: 1%;
    border-bottom: 3px solid $colour-green;
}
form {
    text-align: center;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $colour-black;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    float: left;
}
.green-button{
   background-color: $colour-green;
   display: block;
   padding: 14px 40px;
   border:none;
   border-radius: 5px;
}
.red-button{
    background-color: $colour-red;
    display: block;
    padding: 14px 50px;
    border:none;
    border-radius: 5px;
 }
 .center-element{
    margin-left: auto;
    margin-right:auto;
 }
#cancel-button{
    background-color: $colour-grey;
    padding: 14px 40px;
    border:none;
    border-radius: 5px;
}

.card-body {
    vertical-align: top;
    display: inline-block;

    
    .card-component{
        width:100%;
            }
}

#my-pock-list {
    padding-top: 1%;
}
#my-pock-list-display {
    .card-body > .book-mark{
        display:none;
    }
}
#result-display { 
    .card-body > .trash{
        display:none;
    }
}
@media only screen and (max-width: 320px){
/*style for smart phones*/
div .card-body {
    width: 88%;
    height: 88%;
    margin: 2%;
}
}
@media only screen and (min-width: 321px) and (max-width: 799px){
/*style for tablets*/
    div .card-body {
        width: 40%;
        height: 40%;
        margin: 2%;
    }
}
@media only screen and (min-width: 800px){
/*style for all other screens*/
    div .card-body {
        width: 20%;
        height: 20%;
        margin: 2%;
    }

}