
@charset "ISO-8859-1";

@media only screen and (max-width: 320px){
/*style for smart phones*/
}
@media only screen and (min-width: 321px) and (max-width: 799px){
/*style for tablets*/
}
@media only screen and (min-width: 800px){
/*style for all other screens*/
}
    

ul {
	list-style: none;
	margin:  0;
	padding:  0;
	display: flex;
	flex-direction:  row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
li.one-book {
	width:  200px;
	height:  280px;
	padding:  24px;
	background-color: whitesmoke;
	border:  1px solid grey;
	margin:  22px;

	display:  flex;
	flex-direction: column;
	justify-content: flex-start;
}

li.one-book h3 {
	text-align: center;
}
li.one-book p {
	margin-top:  0;
}
li.one-book a {
	display: block;
	text-align: right;
}
li.one-book div.book-description-container {
	position: relative;
	min-height:  140px;
	overflow: hidden;
	flex-grow: 1;
}
li.one-book div.book-description-container::after {
	content:  "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    background: linear-gradient(transparent, whitesmoke);

}